div{
    border: 2px dashed blue;
}
nav{
    border: 2px dashed blue;
}
footer{
    border: 2px dashed black;
}
.cardimg{
    height: 100px;
    border: 2px dashed yellow;
}

.container-fluid:first-of-type{
    border: purple 4px solid;
}

.bgc-blue{
 background-color: #2c3e50;
}